<%= render partial: 'common/header' %>
<!-- Breadcumb -->
<section class="breadcumb_area">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="breadcumb_section">
          <div class="page_title">
            <h3>Trainer Blog</h3>
          </div>
          <div class="page_pagination">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
              <li>Blog</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Breadcumb -->

<!-- Blog -->
<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="panel blog-box">
          <div class="panel-heading">
            <div class="media clearfix">
              <a class="pull-left">
                <%= image_tag asset_path('blog/user/a3.jpg'), alt: 'profile-picture' %>
              </a>
              <div class="media-body">
                <small>Created by: <span class="font-bold">田中 サトシ</span> </small>
                <br>
                <small class="text-muted">21.03.2017, 06:45 pm</small>
              </div>
            </div>
          </div>
          <div class="panel-image">
            <%= image_tag "http://www.ansonika.com/lovefit/img/workout_3.jpg", class: 'img-responsive' %>

            <div class="title">
              <a href="blog_details.html">
                <h4>ブログ タイトル</h4>
              </a>
              <small>見出し1見出し1見出し1</small>
            </div>
          </div>
          <div class="panel-body">
            <p>
            多くの20代～40代の女性は、急に太ったりし、パニックに陥ると、エステでダイエットと考えてしまうようです。



            エステに通って、ボディメイクやダイエットが痩せられ達成されるのだろうかと疑問を持たれている女性も多いと思います。また、もうすで...




            </p>

          </div>
        </div>
        <div class="panel blog-box">
          <div class="panel-heading">
            <div class="media clearfix">
              <a class="pull-left">
                <%= image_tag asset_path('blog/user/a5.jpg'), alt: 'profile-picture' %>
              </a>
              <div class="media-body">
                <small>Created by: <span class="font-bold">田中 サトシ</span> </small>
                <br>
                <small class="text-muted">17.05.2017, 10:25 pm</small>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <a href="blog_details.html">
              <h4>ボディメイク＆ダイエットの基礎知識</h4>
            </a>
            <p>
            多くの20代～40代の女性は、急に太ったりし、パニックに陥ると、エステでダイエットと考えてしまうようです。



            エステに通って、ボディメイクやダイエットが痩せられ達成されるのだろうかと疑問を持たれている女性も多いと思います。また、もうすで...
            </p>
            <p>


            </p>
            <a href="blog_details.html" class="btn btn-primary btn-xs">Read more</a>
          </div>
        </div>
        <div class="panel blog-box">
          <div class="panel-heading">
            <div class="media clearfix">
              <a class="pull-left">
                <%= image_tag asset_path('blog/user/a6.jpg'), alt: 'profile-picture' %>
              </a>
              <div class="media-body">
                <small>Created by: <span class="font-bold">田中 サトシ</span> </small>
                <br>
                <small class="text-muted">22.12.2017, 04:17 pm</small>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <a href="blog_details.html">
              <h4>くびれは1日にしてならず</h4>
            </a>
            <p>
            くびれを作るためには毎日の努力の積み重ねが大事。日ごろから楽ちんな洋服を着ないようにしたり、腹筋に力を入れて生活したり、時間があるときにはエクササイズするなど、コツコツと心がけることが美しいくびれを作ることにつながるはず。気持ちがゆるんでいるとウエストまわりもゆるんでくるということですね。薄着の季節を乗り切るために、あなたも何かはじめてみませんか？
            </p>
            <p>

            </p>
            <a href="blog_details.html" class="btn btn-primary btn-xs">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel blog-box">
          <div class="panel-heading">
            <div class="media clearfix">
              <a class="pull-left">
                <%= image_tag asset_path('blog/user/a1.jpg'), alt: 'profile-picture' %>
              </a>
              <div class="media-body">
                <small>Created by: <span class="font-bold">根元タケル</span> </small>
                <br>
                <small class="text-muted">22.04.2017, 10:15 pm</small>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <a href="blog_details.html">
              <h4>くびれは1日にしてならず</h4>
            </a>
            <p>
            多くの20代～40代の女性は、急に太ったりし、パニックに陥ると、エステでダイエットと考えてしまうようです。



            エステに通って、ボディメイクやダイエットが痩せられ達成されるのだろうかと疑問を持たれている女性も多いと思います。また、もうすで...
            </p>
            <p>

            </p>
            <a href="blog_details.html" class="btn btn-primary btn-xs">Read more</a>
          </div>
        </div>
        <div class="panel blog-box">
          <div class="panel-heading">
            <div class="media clearfix">
              <a class="pull-left">
                <%= image_tag asset_path('blog/user/a7.jpg'), alt: 'profile-picture' %>
              </a>
              <div class="media-body">
                <small>Created by: <span class="font-bold">田村 サトシ</span> </small>
                <br>
                <small class="text-muted">01.02.2017, 10:40 pm</small>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <a href="blog_details.html">
              <h4>ボディメイク＆ダイエットの基礎知識</h4>
            </a>
            <p>
            多くの20代～40代の女性は、急に太ったりし、パニックに陥ると、エステでダイエットと考えてしまうようです。



            エステに通って、ボディメイクやダイエットが痩せられ達成されるのだろうかと疑問を持たれている女性も多いと思います。また、もうすで...
            </p>
            <p>

            </p>
          </div>
        </div>
        <div class="panel blog-box">
          <div class="panel-heading">
            <div class="media clearfix">
              <a class="pull-left">
                <%= image_tag asset_path('blog/user/a4.jpg'), alt: 'profile-picture' %>
              </a>
              <div class="media-body">
                <small>Created by: <span class="font-bold">田中聡子</span> </small>
                <br>
                <small class="text-muted">10.07.2017, 02:12 am</small>
              </div>
            </div>
          </div>
          <div class="panel-image">
            <%= image_tag "http://www.ansonika.com/lovefit/img/slides/slide_1.jpg", class: 'img-responsive' %>
            <div class="title">
              <a href="blog_details.html">
                <h4>寝る前に"キク"ボディメイク術</h4>
              </a>
              <small>サブタイトル</small>
            </div>
          </div>
          <div class="panel-body">
            <p>
            多くの20代～40代の女性は、急に太ったりし、パニックに陥ると、エステでダイエットと考えてしまうようです。



            エステに通って、ボディメイクやダイエットが痩せられ達成されるのだろうかと疑問を持たれている女性も多いと思います。また、もうすで...
            </p>
            <p>

            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel blog-box">
          <div class="panel-heading">
            <div class="media clearfix">
              <a class="pull-left">
                <%= image_tag asset_path('blog/user/a2.jpg') %>
              </a>
              <div class="media-body">
                <small>Created by: <span class="font-bold">シバタ タカシ</span> </small>
                <br>
                <small class="text-muted">11.10.2017, 11:46 pm</small>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <a href="blog_details.html">
              <h4>ボディメイク＆ダイエットの基礎知識</h4>
            </a>
            <p>
            多くの20代～40代の女性は、急に太ったりし、パニックに陥ると、エステでダイエットと考えてしまうようです。



            エステに通って、ボディメイクやダイエットが痩せられ達成されるのだろうかと疑問を持たれている女性も多いと思います。また、もうすで...
            </p>
            <p>

            </p>
          </div>
        </div>
        <div class="panel blog-box">
          <div class="panel-heading">
            <div class="media clearfix">
              <a class="pull-left">
                <%= image_tag asset_path('blog/user/a8.jpg'), alt: 'profile-picture' %>
              </a>
              <div class="media-body">
                <small>Created by: <span class="font-bold">田村 サトシ</span> </small>
                <br>
                <small class="text-muted">16.02.2017, 08:34 pm</small>
              </div>
            </div>
          </div>
          <div class="panel-image">
            <%= image_tag "http://www.ansonika.com/lovefit/img/slides/slide_2.jpg", class: 'img-responsive' %>

            <div class="title">
              <a href="blog_details.html">
                <h4>くびれは1日にしてならず</h4>
              </a>
              <small>サブタイトル</small>
            </div>
          </div>
          <div class="panel-body">
            <p>
            多くの20代～40代の女性は、急に太ったりし、パニックに陥ると、エステでダイエットと考えてしまうようです。



            エステに通って、ボディメイクやダイエットが痩せられ達成されるのだろうかと疑問を持たれている女性も多いと思います。また、もうすで...
            </p>
            <p>

            </p>
            <a href="blog_details.html" class="btn btn-primary btn-xs">Read more</a>
          </div>
        </div>
        <div class="panel blog-box">
          <div class="panel-heading">
            <div class="media clearfix">
              <a class="pull-left">
                <%= image_tag asset_path('blog/user/a5.jpg'), alt: 'profile-picture' %>

              </a>
              <div class="media-body">
                <small>Created by: <span class="font-bold">田中 サトシ</span> </small>
                <br>
                <small class="text-muted">17.05.2017, 10:25 pm</small>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <a href="blog_details.html">
              <h4>くびれは1日にしてならず</h4>
            </a>
            <p>
            くびれを作るためには毎日の努力の積み重ねが大事。日ごろから楽ちんな洋服を着ないようにしたり、腹筋に力を入れて生活したり、時間があるときにはエクササイズするなど、コツコツと心がけることが美しいくびれを作ることにつながるはず。気持ちがゆるんでいるとウエストまわりもゆるんでくるということですね。薄着の季節を乗り切るために、あなたも何かはじめてみませんか？
            </p>
            <p>

            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel blog-box">
          <div class="panel-heading">
            <div class="media clearfix">
              <a class="pull-left">
                <%= image_tag asset_path('blog/user/a4.jpg'), alt: 'profile-picture' %>

              </a>
              <div class="media-body">
                <small>Created by: <span class="font-bold">田中聡子</span> </small>
                <br>
                <small class="text-muted">10.07.2017, 02:12 am</small>
              </div>
            </div>
          </div>
          <div class="panel-image">
            <%= image_tag "http://www.ansonika.com/lovefit/img/slides/slide_3.jpg", class: 'img-responsive' %>
            <div class="title">
              <a href="blog_details.html">
                <h4>ボディメイク＆ダイエットの基礎知識</h4>
              </a>
              <small>サブタイトル</small>
            </div>
          </div>
          <div class="panel-body">
            <p>
            多くの20代～40代の女性は、急に太ったりし、パニックに陥ると、エステでダイエットと考えてしまうようです。



            エステに通って、ボディメイクやダイエットが痩せられ達成されるのだろうかと疑問を持たれている女性も多いと思います。また、もうすで...
            </p>
            <p>

            </p>
            <a href="blog_details.html" class="btn btn-primary btn-xs">Read more</a>
          </div>
        </div>
        <div class="panel blog-box">
          <div class="panel-heading">
            <div class="media clearfix">
              <a class="pull-left">
                <%= image_tag asset_path('blog/user/a3.jpg'), alt: 'profile-picture' %>

              </a>
              <div class="media-body">
                <small>Created by: <span class="font-bold">Mike Smith</span> </small>
                <br>
                <small class="text-muted">21.03.2017, 06:45 pm</small>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <a href="blog_details.html">
              <h4>エステでダイエットできない理由・エステで痩せない理由は？</h4>
            </a>
            <p>
            エステで痩せない理由は？
            エステのマッサージダイエット、エステの骨盤ダイエット、エステ脚やせダイエット　生理学上、エステ痩身ダイエットは、ダイエットできる、脂肪が減る、基礎代謝が上がるという身体メカニズムから見て科学的根拠はありません。

            下記、図をご覧ください。痩せるためには、式の右側、基礎代謝量を増やすか、活動量を増やすか、UCP・DITを増やすかしかありません。
            </p>
            <p>

            </p>
            <a href="blog_details.html" class="btn btn-primary btn-xs">Read more</a>
          </div>
        </div>
        <div class="panel blog-box">
          <div class="panel-heading">
            <div class="media clearfix">
              <a class="pull-left">
                <%= image_tag asset_path('blog/user/a1.jpg'), alt: 'profile-picture' %>
              </a>
              <div class="media-body">
                <small>Created by: <span class="font-bold">根元タケル</span> </small>
                <br>
                <small class="text-muted">22.04.2017, 10:15 pm</small>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <a href="blog_details.html">
              <h4>くびれは1日にしてならず</h4>
            </a>
            <p>
            くびれを作るためには毎日の努力の積み重ねが大事。日ごろから楽ちんな洋服を着ないようにしたり、腹筋に力を入れて生活したり、時間があるときにはエクササイズするなど、コツコツと心がけることが美しいくびれを作ることにつながるはず。気持ちがゆるんでいるとウエストまわりもゆるんでくるということですね。薄着の季節を乗り切るために、あなたも何かはじめてみませんか？
            </p>
            <p>

            </p>
            <a href="blog_details.html" class="btn btn-primary btn-xs">Read more</a>
          </div>
        </div>
      </div>
      <div class="text-center">
        <ul class="pagination pagination-sm">
          <li class="disabled"><a href="#">«</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- End Blog -->

<%= render partial: 'common/mobile_app' %>
<%= render partial: 'common/footer' %>

<%= link_to new_training_path, data: { toggle: 'tooltip', placement: 'left', }, title: 'Post Your Ad', class: 'btn btn-primary btn-lg post-free-add-btn' do %>
  <i class="fa fa-pencil"></i>
<% end %>

<!-- Back To Top -->
<a href="#" id="back-to-top" data-toggle="tooltip" data-placement="left" title="Back To Top" class="btn btn-default btn-md"><i class="fa fa-chevron-up"></i></a>
<!-- End Back To Top -->

