<% # FIXME hrefとpreloaderについては保留 %>
  <%= render partial: 'common/header' %>

    <!-- Search Box -->
      <section class="search-box">
         <div class="container">
            <div class="row">
               <div class="main-search-box text-center">
                  <h1 class="intro-title">トップパーソナルトレーナーを好きな場所に呼ぼう!!</h1>
                  <p class="sub-title">Brutとは好きな時間好きな場所でパーソナルトレーニング
                  ができるサービスです。</p>
                  <form action="categories.html" method="GET">
                     <!-- <div class="col-md-4 col-sm-4 search-input">
                        <input placeholder="What are you looking for...?" class="form-control input-lg search-form" type="text">
                     </div> -->
                     <div class="col-xs-6 col-md-4 col-sm-4 search-input">
                        <select class="form-control input-lg search-form">
                           <option selected="selected" value="">カテゴリー</option>
                           <option value="Vehicles" style="background-color:#E9E9E9;font-weight:bold;" disabled="disabled"> ボディメイク</option>
                           <option value="Cars">姿勢矯正</option>
                           <option value="Motorcycles">骨盤矯正</option>
                           <option value="Boats">ヨガ</option>
                           <option value="Vehicles">O脚矯正</option>
                           <option value="Appliances"> ダイエット</option>
                           <option value="Appliances">その他:今後追加予定</option>
                           <!-- <option value="House" style="background-color:#E9E9E9;font-weight:bold;" disabled="disabled"> -
                              House and Children -
                           </option>
                           <option value="Appliances"> ダイエット</option>
                           <option value="Inside"> Inside</option>
                           <option value="Games"> Games and Clothing</option>
                           <option value="Garden"> Garden</option>
                           <option value="Multimedia" style="background-color:#E9E9E9;font-weight:bold;" disabled="disabled"> - Multimedia - </option>
                           <option value="Telephony"> Telephony</option>
                           <option value="Image"> Image and sound</option>
                           <option value="Real" style="background-color:#E9E9E9;font-weight:bold;" disabled="disabled"> -
                              Real Estate -
                           </option>
                           <option value="Apartment"> Apartment</option>
                           <option value="Home"> Home</option>
                           <option value="Vacation"> Vacation Rentals</option>
                           <option value="Grounds"> Grounds</option>
                           <option value="Houseshares"> Houseshares</option>
                           <option value="Other real estate"> Other real estate</option>
                           <option value="Services" style="background-color:#E9E9E9;font-weight:bold;" disabled="disabled"> - Services - </option>
                           <option value="Jobs"> Jobs</option>
                           <option value="Job application"> Job application</option>
                           <option value="Services"> Services</option>
                           <option value="dropoff" style="background-color:#E9E9E9;font-weight:bold;" disabled="disabled"> - Extra - </option>
                           <option value="Other"> Other</option> -->
                        </select>
                     </div>
                     <div class="col-xs-6 col-md-4 col-sm-4 search-input">

                     <input class="form-control input-lg search-form" type="text" name="station" placeholder="駅名" maxlength="80">

                     </div>
                     <div class="col-md-2 col-sm-2 search-input">
                        <button class="btn btn-primary btn-lg simple-btn btn-block" data-toggle="tooltip" data-placement="top" title="詳細画面へ">
                        <i class="fa fa-search"></i> Search
                        </button>
                     </div>
                  </form>
               </div>
               <div class="top-categories margin-bottom-none">
                  <h4>良く見られているカテゴリー</h4>
                  <a href="categories.html">
                  <i class="fa fa-book"></i>ヨガ
                  </a>
                  <a href="categories.html">
                  <i class="fa fa-briefcase"></i>ボディメイク
                  </a>
                  <a href="categories.html">
                  <i class="fa fa-mobile"></i>ウォーキング
                  </a>
                  <a href="categories.html">
                  <i class="fa fa-laptop"></i>体感強化
                  </a>
                  <a href="categories.html">
                  <i class="fa fa-building-o"></i>姿勢矯正
                  </a>
               </div>
            </div>
         </div>
      </section>
      <!-- End Search Box -->

      <div class="section-space80" style="background: #f4f6f8;">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                    <div class="mb60 text-center section-title">
                        <!-- section title start-->
                        <h1>自分に合ったトレーナーを検索<br>パーソナルメニューからの予約もできる安心安全の<span>出張パーソナルトレーニング</span>サービス</h1>
                        <p>BRUT（ブリュット）は、お客様とパーソナルトレーナーのマッチングの場を提供するwebサービスです。
 BRUTが定める基準に達したハイレベルなパーソナルトレーナーのみが在籍しています。</p>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="row mt40">
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="service-img-box mb30 text-center ">
                        <div class="service-img">
                          <a href="personal-loan.html" class="imghover">
                            <%= image_tag 'banner03', class: 'img-responsive', alt: 'Borrow - Loan Company Website Template ' %>
                          </a>
                        </div>
                        <div class="service-content bg-white pinside30">
                            <h2><a href="personal-loan.html" class="title">安心・安全の理由</a></h2>
                            <p>トレーナーとしての経験や事前面談にて厳選した人材のみ登録可能。なので技術面はトップクラス。女性トレーナーも在籍しているので安心です。</p>
                            <a href="personal-loan.html" class="btn-link">Read more</a> </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="service-img-box mb30 text-center ">
                        <div class="service-img">
                          <a href="home-loan.html" class="imghover">
                            <%= image_tag 'banner02', class: 'img-responsive', alt: 'Borrow - Loan Company Website Template ' %>
                          </a>
                        </div>
                        <div class="service-content bg-white pinside30">
                            <h2><a href="home-loan.html" class="title">Brutとは？</a></h2>
                            <p>出張型パーソナルトレーニングサービスです。トレーナーのランクによって料金が様々です。小学校、老人ホーム、IT企業様などを団体での利用も可能です。 </p>
                            <a href="home-loan.html" class="btn-link">Read more</a> </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="service-img-box mb30 text-center ">
                        <div class="service-img">
                          <a href="education-loan.html" class="imghover">
                            <%= image_tag 'banner04', class: 'img-responsive', alt: 'Borrow - Loan Company Website Template' %>
                          </a>
                        </div>
                        <div class="service-content bg-white pinside30">
                            <h2><a href="education-loan.html" class="title">使い方を見る</a></h2>
                            <p>マッチングまでの流れはとても簡単で、最短5分程度で完了します。</p>
                            <a href="education-loan.html" class="btn-link">Read more</a> </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 pc-none">
                    <div class="service-img-box mb30 text-center">
                        <div class="service-img">
                          <a href="education-loan.html" class="imghover">
                            <%= image_tag 'banner04', class: 'img-responsive', alt: 'Borrow - Loan Company Website Template' %>
                          </a>
                        </div>
                        <div class="service-content bg-white pinside30">
                            <h2><a href="education-loan.html" class="title">トレーナーとして使う</a></h2>
                            <p>BRUTはトレーナーとして使う場合審査がございます。まずは下記より登録ください。</p>
                            <a href="education-loan.html" class="btn-link">Read more</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Featured Products -->
      <section class="featured-products">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="carousel-section-header">
                     <h1>トレーナーFEED <a href="categories.html" class="btn btn-md btn-primary pull-right">もっと<b>24727</b> <i class="fa fa-arrow-right"></i></a></h1>
                  </div>
                  <div id="owl-carousel-featured" class="owl-carousel owl-carousel-featured">
                     <div class="item">
                      <a href="single.html">
                        <div class="item-ads-grid icon-blue">
                           <!-- <div class="item-badge-grid featured-ads">
                              <a href="#">HOT</a>
                           </div> -->
                           <div class="item-img-grid">
                           <a href="single.html">
                              <%= image_tag 'top/ad01', class: 'img-responsive img-center' %>
                              </a>
                              <div class="item-title">
                              <div class="popup-head-left pull-left">
                                 <a data-toggle="collapse" data-parent="#accordion" href="#popup">
                                   <%= image_tag 'user' %>
                                 </a>
                               </div><br><br>
                                 <a href="single.html">
                                    <h4>トータルボディメイク</h4>
                                 </a>
                                 <h3>￥ 1.5000</h3>
                              </div>
                           </div>
                           <div class="item-meta">
                              <ul>
                                 <li class="item-date"><i class="fa fa-clock-o"></i> Today 10.35 AM</li>
                                 <li class="item-cat"><i class="fa fa-glass"></i> <a href="categories.html">ウォーキング</a> , <a href="categories.html">ヨガ</a></li>
                                 <li class="item-location"><a href="categories.html"><i class="fa fa-map-marker"></i> 東京 </a></li>
                                 <li class="item-type"><i class="fa fa-bookmark"></i> New</li>
                              </ul>
                           </div>
                        </div>
                        </a>
                     </div>
                     <div class="item">
                        <div class="item-ads-grid icon-green">
                           <!-- <div class="item-badge-grid hot-ads">
                              <a href="#">HOT</a>
                           </div> -->
                           <div class="item-img-grid">
                           <a href="single.html">
                              <%= image_tag 'top/ad02', class: 'img-responsive img-center' %>
                              </a>
                              <div class="item-title">
                              <div class="popup-head-left pull-left">
                                 <a data-toggle="collapse" data-parent="#accordion" href="#popup">
                                 <%= image_tag 'user' %>
                                 </a>
                               </div><br><br>
                                 <a href="single.html">
                                    <h4>上腕三頭筋の筋トレ</h4>
                                 </a>
                                 <h3>￥ 1.5000</h3>
                              </div>
                           </div>
                           <div class="item-meta">
                              <ul>
                                 <li class="item-date"><i class="fa fa-clock-o"></i> Today 02.05 AM</li>
                                 <li class="item-cat"><i class="fa fa-home"></i> <a href="categories.html">ボディメイク</a> , <a href="categories.html">骨盤矯正</a></li>
                                 <li class="item-location"><a href="categories.html"><i class="fa fa-map-marker"></i> 東京 </a></li>
                                 <li class="item-type"><i class="fa fa-bookmark"></i> New</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="item">
                        <div class="item-ads-grid icon-brown">
                           <!-- <div class="item-badge-grid premium-ads">
                              <a href="#">HOT</a>
                           </div> -->
                           <div class="item-img-grid">
                           <a href="single.html">
                              <%= image_tag 'top/ad01', class: 'img-responsive img-center' %>
                              </a>
                              <div class="item-title">
                              <div class="popup-head-left pull-left">
                                 <a data-toggle="collapse" data-parent="#accordion" href="#popup">
                                 <%= image_tag 'user' %>
                                 </a>
                               </div><br><br>
                                 <a href="single.html">
                                    <h4>女性のダイエット筋トレ</h4>
                                 </a>
                                 <h3>￥ 1.5000</h3>
                              </div>
                           </div>

                           <div class="item-meta">
                              <ul>
                                 <li class="item-date"><i class="fa fa-clock-o"></i> Today 03.15 AM</li>
                                 <li class="item-cat"><i class="fa fa-car"></i> <a href="categories.html">ダイエット</a> , <a href="categories.html">ボディメイク</a></li>
                                 <li class="item-location"><a href="categories.html"><i class="fa fa-map-marker"></i> 横浜 </a></li>
                                 <li class="item-type"><i class="fa fa-bookmark"></i> New</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="item">
                        <div class="item-ads-grid highlight-ads icon-violet">
                           <div class="item-badge-grid btn-primary">
                              <a href="#">Pick up</a>
                           </div>
                           <div class="item-img-grid">
                              <%= image_tag 'top/03', class: 'img-responsive img-center' %>
                              <div class="item-title">
                              <div class="popup-head-left pull-left">
                                 <a data-toggle="collapse" data-parent="#accordion" href="#popup">
                                 <%= image_tag 'user' %>
                                 </a>
                               </div><br><br>
                                 <a href="single.html">
                                    <h4>最短にモテる体を作るトレ</h4>
                                 </a>
                                 <h3>￥ 1.5000</h3>
                              </div>
                           </div>
                           <div class="item-meta">
                              <ul>
                                 <li class="item-date"><i class="fa fa-clock-o"></i> Today 11.45 PM</li>
                                 <li class="item-cat"><i class="fa fa-shopping-cart"></i> <a href="categories.html">ヨガ</a> , <a href="categories.html">O脚矯正</a></li>
                                 <li class="item-location"><a href="categories.html"><i class="fa fa-map-marker"></i> 東京 </a></li>
                                 <li class="item-type"><i class="fa fa-bookmark"></i> New</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="item">
                        <div class="item-ads-grid icon-dark-blue">
                           <!-- <div class="item-badge-grid featured-ads">
                              <a href="#">HOT</a>
                           </div> -->
                           <div class="item-img-grid">
                              <%= image_tag 'top/ad01', class: 'img-responsive img-center' %>
                              <div class="item-title">
                              <div class="popup-head-left pull-left">
                                 <a data-toggle="collapse" data-parent="#accordion" href="#popup">
                                 <%= image_tag 'user' %>
                                 </a>
                               </div><br><br>
                                 <a href="single.html">
                                    <h4>腹筋下部までバランスよくトレ</h4>
                                 </a>
                                 <h3>￥ 1.5000</h3>
                              </div>
                           </div>
                           <div class="item-meta">
                              <ul>
                                 <li class="item-date"><i class="fa fa-clock-o"></i> Today 09.45 PM</li>
                                 <li class="item-cat"><i class="fa fa-briefcase"></i> <a href="categories.html">training</a> , <a href="categories.html">筋活</a></li>
                                 <li class="item-location"><a href="categories.html"><i class="fa fa-map-marker"></i> 東京</a></li>
                                 <li class="item-type"><i class="fa fa-bookmark"></i> New</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="item">
                        <div class="item-ads-grid icon-orange">
                           <!-- <div class="item-badge-grid featured-ads">
                              <a href="#">HOT</a>
                           </div> -->
                           <div class="item-img-grid">
                              <%= image_tag 'top/ad02', class: 'img-responsive img-center' %>
                              <div class="item-title">
                              <div class="popup-head-left pull-left">
                                 <a data-toggle="collapse" data-parent="#accordion" href="#popup">
                                 <%= image_tag 'user' %>
                                 </a>
                               </div><br><br>
                                 <a href="single.html">
                                    <h4>トータルボディメイク</h4>
                                 </a>
                                 <h3>￥ 1.5000</h3>
                              </div>
                           </div>
                           <div class="item-meta">
                              <ul>
                                 <li class="item-date"><i class="fa fa-clock-o"></i> Today 02.05 AM</li>
                                 <li class="item-cat"><i class="fa fa-building-o"></i> <a href="categories.html">ボディメイク</a> , <a href="categories.html">イベント</a></li>
                                 <li class="item-location"><a href="categories.html"><i class="fa fa-map-marker"></i> 東京</a></li>
                                 <li class="item-type"><i class="fa fa-bookmark"></i> New</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="item">
                        <div class="item-ads-grid icon-light-blue">
                           <!-- <div class="item-badge-grid featured-ads">
                              <a href="#">HOT</a>
                           </div> -->
                           <div class="item-img-grid">
                              <%= image_tag 'top/03', class: 'img-responsive img-center' %>

                              <div class="item-title">
                              <div class="popup-head-left pull-left">
                                 <a data-toggle="collapse" data-parent="#accordion" href="#popup">
                                 <%= image_tag 'user' %>
                                 </a>
                               </div><br><br>
                                 <a href="single.html">
                                    <h4>女性向けボディメイク</h4>
                                 </a>
                                 <h3>￥ 1.5000</h3>
                              </div>
                           </div>
                           <div class="item-meta">
                              <ul>
                                 <li class="item-date"><i class="fa fa-clock-o"></i> Today 12.09 PM</li>
                                 <li class="item-cat"><i class="fa fa-star"></i> <a href="categories.html">ヨガ</a> , <a href="categories.html">姿勢矯正</a></li>
                                 <li class="item-location"><a href="categories.html"><i class="fa fa-map-marker"></i> Fort Smith </a></li>
                                 <li class="item-type"><i class="fa fa-bookmark"></i> New</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="item">
                        <div class="item-ads-grid icon-light-green">
                           <!-- <div class="item-badge-grid featured-ads">
                              <a href="#">HOT</a>
                           </div> -->
                           <div class="item-img-grid">
                           <a href="single.html">
                              <%= image_tag 'top/ad01', class: 'img-responsive img-center' %>

                              </a>
                              <div class="item-title">
                              <div class="popup-head-left pull-left">
                                 <a data-toggle="collapse" data-parent="#accordion" href="#popup">
                                 <%= image_tag 'user' %>
                                 </a>
                               </div><br><br>
                                 <a href="single.html">
                                    <h4>上腕三頭筋の筋トレ</h4>
                                 </a>
                                 <h3>￥ 1.5000</h3>
                              </div>
                           </div>
                           <div class="item-meta">
                              <ul>
                                 <li class="item-date"><i class="fa fa-clock-o"></i> Today 10.35 AM</li>
                                 <li class="item-cat"><i class="fa fa-paw"></i> <a href="categories.html">ヨガ</a> , <a href="categories.html">ヨガダイエット</a></li>
                                 <li class="item-location"><a href="categories.html"><i class="fa fa-map-marker"></i> Manchester</a></li>
                                 <li class="item-type"><i class="fa fa-bookmark"></i> New</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Featured Products -->

      <section>
   <div class="block gray remove-gap">
      <div class="container">
         <div class="row">
            <div class="col-md-12 column">
            <div class="carousel-section-header">
                     <h1>カテゴリーから選ぶ <a href="categories.html" class="btn btn-md btn-primary pull-right">もっと<b>24727</b> <i class="fa fa-arrow-right"></i></a></h1>
                  </div>
               <div class="row narrow">
                  <div class="masonary overlap" style="position: relative;">

                     <div class="col-md-3 col-xs-6">
                     <a href="categories.html" title="">
                        <div class="links">
                           <div class="link-inner">
                              <strong>01</strong>
                              <i class="fa fa-street-view" aria-hidden="true"></i>
                              <span>ヨガ</span>
                              <h3>YOGA</h3>

                           </div>
                        </div>
                     </a>
                     </div><!-- Links -->

                     <div class="col-md-3 col-xs-6">
                     <a href="categories.html" title="">
                        <div class="links">
                           <div class="link-inner">
                              <strong>02</strong>
                              <i class="fa fa-bolt"></i>
                              <span>ボディメイク</span>
                              <h3>Body make</h3>

                           </div>
                        </div><!-- Links -->
                        </a>
                     </div>
                     <div class="col-md-3 col-xs-6">
                     <a href="categories.html" title="">
                        <div class="links">
                           <div class="link-inner">
                              <strong>03</strong>
                              <i class="fa fa-unlink"></i>
                              <span>姿勢矯正</span>
                              <h3>Posture</h3>

                           </div>
                        </div><!-- Links -->
                        </a>
                     </div>
                     <div class="col-md-3 col-xs-6">
                     <a href="categories.html" title="">
                        <div class="links">
                           <div class="link-inner">
                              <strong>04</strong>
                              <i class="fa fa-universal-access" aria-hidden="true"></i>
                              <span>筋活</span>
                              <h3>MAKE MUSCLE</h3>

                           </div>
                        </div><!-- Links -->
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>



    <!-- App Store -->
      <section class="app-store-main">
         <div class="container">
            <div class="row">
               <div class="col-xs-12 col-sm-8 col-md-7 pull-right">
                  <header>
                     <h2><strong>DOWNLOAD</strong> MOBILE APP</h2>
                     <p>現在開発中の為リリースまでもうしばらくお待ちください。</p>
                  </header>
                  <div class="row inner app-icons">
                     <div class="col-xs-6 col-md-4">
                        <a href="#" class="app-store">
                           <%= image_tag 'android', alt: 'Google play' %>
                           <span>download on</span>
                           <h4>Google Play</h4>
                        </a>
                     </div>
                     <div class="col-xs-6 col-md-4">
                        <a href="#" class="app-store">
                           <%= image_tag 'apple', alt: 'Apple store' %>
                           <span>download on</span>
                           <h4>Apple Store</h4>
                        </a>
                     </div>

                  </div>
               </div>
               <div class="hidden-xs col-sm-4 col-md-5 pull-right">
                  <div class="action-mock">
                     <%= image_tag 'app-mock', alt: 'download apps' %>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End App Store -->

    <!-- Footer -->
      <footer>
         <section class="footer-Content">
            <div class="container">
               <div class="row">
                  <div class="col-md-7 col-sm-6 col-xs-12">
                     <div class="footer-widget">
                        <h3 class="block-title">About</h3>
                        <div class="textwidget">
                           <p>Brutとは好きな時間好きな場所でパーソナルトレーニング
                  ができるサービスです。<br>自分に合ったトレーナーを検索パーソナルメニューからの予約もできる安心安全の<span>出張パーソナルトレーニング</span>サービスです。</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-5 col-sm-6 col-xs-12">
                     <div class="footer-widget">
                        <h3 class="block-title">Categories</h3>
                        <ul class="menu">
                           <li><a href="#"><span>562</span> ヨガ</a></li>
                           <li><a href="#"><span>451</span> 体幹強化</a></li>
                           <li><a href="#"><span>352</span> 美脚矯正</a></li>
                           <li><a href="#"><span>312</span> ボディメイク</a></li>
                           <li><a href="#"><span>262</span> テスト</a></li>
                           <li><a href="#"><span>152</span> テスト</a></li>
                           <li><a href="#"><span>102</span> テスト</a></li>
                           <li><a href="#"><span>100</span> テスト</a></li>
                           <li><a href="#"><span>95</span> テスト</a></li>
                           <li><a href="#"><span>85</span> テスト</a></li>
                           <li><a href="#"><span>50</span> テスト</a></li>


                        </ul>
                     </div>
                  </div>

               </div>
            </div>
         </section>
         <div class="copyright">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="bottom-social-icons social-icon text-center">
                        <a href="#" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>

                        <a href="#" target="_blank" class="youtube"><i class="fa fa-youtube"></i></a>

                     </div>
                     <div class="site-info text-center">
                        <p>&copy; Copyright 2017  All Rights Reserved<br> <!-- Made with <i class="fa fa-heart"></i> by <a target="_blank" href=""><strong>testtest</strong></a> --></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- End Footer -->

      <a href="signup.html" data-toggle="tooltip" data-placement="left" title="キャンペーン中" class="btn btn-danger btn-lg post-free-add-btn">
      事前会員登録<i class="fa fa-user-plus"></i></a>


    <!-- Back To Top -->
    <a href="#" id="back-to-top" data-toggle="tooltip" data-placement="left" title="Back To Top" class="btn btn-default btn-md"><i class="fa fa-chevron-up"></i></a>
      <!-- End Back To Top -->

    <!-- Chat Popup -->
     <div id="accordion">
         <div class="popup-box chat-popup">
           <div class="popup-head">
             <div class="popup-head-left pull-left">
             <a href="https://goo.gl/forms/kbCQH4kSPnLxRvdf1">
               <!-- <a data-toggle="collapse" data-parent="#accordion" href="#popup"> -->
               <%= image_tag 'user' %> トレーナーとして登録する
               <small>>>Click<<</small>
               </a>
             </div>
             <!-- <div class="popup-head-right pull-right">
               <div class="btn-group">
                  <button class="chat-header-button" data-toggle="dropdown" type="button" aria-expanded="false">
                  <i class="glyphicon glyphicon-cog"></i> </button>
                  <ul role="menu" class="dropdown-menu pull-right">
                    <li><a href="#">Media</a></li>
                    <li><a href="#">Block</a></li>
                    <li><a href="#">Clear Chat</a></li>
                    <li><a href="#">Email Chat</a></li>
                  </ul>
               </div>
               <button data-toggle="collapse" data-parent="#accordion" href="#popup" class="chat-header-button pull-right" type="button"><i class="glyphicon glyphicon-off"></i></button>
             </div> -->
           </div>
           <div id="popup" class="collapse">
             <div class="popup-messages">
               <div class="direct-chat-messages">
                  <div class="chat-box-single-line">
                    <abbr class="timestamp">October 8th, 2015</abbr>
                  </div>
                  <!-- Message. Default to the left -->
                  <div class="direct-chat-msg doted-border">
                    <div class="direct-chat-info clearfix">
                      <span class="direct-chat-name pull-left">Osahan</span>
                    </div>
                    <!-- /.direct-chat-info -->
                    <%= image_tag 'user', class: 'direct-chat-img', alt: 'message user image' %>
                    <div class="direct-chat-text">
                      Hey bro, how’s everything going ?
                    </div>
                    <div class="direct-chat-info clearfix">
                      <span class="direct-chat-timestamp pull-right">3.36 PM</span>
                    </div>
                    <div class="direct-chat-info clearfix">
                      <span class="direct-chat-img-reply-small pull-left">
                      </span>
                      <span class="direct-chat-reply-name">Singh</span>
                    </div>
                    <!-- /.direct-chat-text -->
                  </div>
                  <!-- /.direct-chat-msg -->
                  <div class="chat-box-single-line">
                    <abbr class="timestamp">October 9th, 2015</abbr>
                  </div>
                  <!-- Message. Default to the left -->
                  <div class="direct-chat-msg doted-border">
                    <div class="direct-chat-info clearfix">
                      <span class="direct-chat-name pull-left">Osahan</span>
                    </div>
                    <!-- /.direct-chat-info -->
                    <%= image_tag 'user', class: 'direct-chat-img' %>
                    <div class="direct-chat-text">
                      Hey bro, how’s everything going ?
                    </div>
                    <div class="direct-chat-info clearfix">
                      <span class="direct-chat-timestamp pull-right">3.36 PM</span>
                    </div>
                    <div class="direct-chat-info clearfix">
                      <%= image_tag 'blog/user/a3.jpg', class: 'direct-chat-img big-round' %>
                      <span class="direct-chat-reply-name">Singh</span>
                    </div>
                    <!-- /.direct-chat-text -->
                  </div>
                  <!-- /.direct-chat-msg -->
               </div>
             </div>
             <div class="popup-messages-footer">
               <textarea id="status_message" placeholder="Type a message..." rows="10" cols="40" name="message"></textarea>
               <div class="btn-footer">
                  <button class="bg_none"><i class="glyphicon glyphicon-film"></i> </button>
                  <button class="bg_none"><i class="glyphicon glyphicon-camera"></i> </button>
                  <button class="bg_none"><i class="glyphicon glyphicon-paperclip"></i> </button>
                  <button class="bg_none pull-right"><i class="glyphicon glyphicon-thumbs-up"></i> </button>
               </div>
             </div>
           </div>
         </div>
      </div>
