<!DOCTYPE html>
<html>
  <head>
    <title>BRUT 出張型パーソナルトレーニングサービス</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon.png">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.3/css/swiper.min.css" />
    <style type="text/css">
      .swiper-container {
        width: 100%;
        height: 100%;
      }
      .swiper-slide {
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      @media screen and (max-width: 480px) {
        #featured-reservation .swiper-container{
          overflow-y: hidden;
          margin-left: -5.33333333vmin;
          margin-right: -5.33333333vmin;
          width: initial;
          }
        #featured-reservation .swiper-wrapper{
          left: -82px !important;
        }
      } 
      </style>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div id="preloader"></div>
    <% if notice.present?  %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.3/js/swiper.js"></script>
    <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 4,
      spaceBetween: 30,
      slidesPerGroup: 1,
      loop: true,
      loopFillGroupWithBlank: true,
      
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      breakpoints: {
          767: {
            loop: false,
            slidesPerView: 2,
             slidesPerGroup: 1,
          offsetSlidesBefore: 0,
          spaceBetween: 10,
          freeMode: true,
          centeredSlides: true,
          grabCursor: true,
          width: 420,
          
        }
      }
    });
  </script>
  </body>
</html>
